<br><br><br><br><br><br><br>

<div class="cards-list" >
    <div id="top">  
            <h2>Marcas</h2>
    </div>


    <div class="glider-contain">
        <div class="carrousel__list">
        </div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div>
</div>


<div class="cards-list" id="container_car">
    <div id="top">  
          <h2>Categorias</h2>
    </div>
</div>

<div class="cards-list" id="container_type">
    <div id="top">  
            <h2>Tipos de Motor</h2>
    </div>
</div>

<div class="cards-list" id="container_views">
    <div id="top">  
            <h2>Coches Mas Vistos</h2>
    </div>
</div>


<div class="books">
    <div class="books_content">
    </div>
    <div class="btn-more-books">
    </div>
</div>