<!DOCTYPE html>
<html lang="en" class="login-register">
<body class="login-register">
    <div class="restore">
        <h1>Restore Password</h1>
        <form id="restore__form" method="POST">
            <div class="group">               
                <input id="passwd1_recover" type="password" name="passwd1_recover" placeholder="Nueva Contraseña"/>
                <span id="error_passwd1_recover" class="error"></span>
            </div>
            <div class="group">
                <input id="passwd2_recover" type="password" name="passwd2_recover" placeholder="Repite la nueva contraseña"/>
                <span id="error_passwd2_recover" class="error"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-large button" id="restore_btn">Restaurar contraseña</button>
        </form>
    </div>
</body>
</html>