<!DOCTYPE html>
<html lang="en" class="login-register">
<body class="login-register">
    <div class="login">
        <h1>Register</h1>
        <form id="register__form" method="POST">
            <div class="group">
                <input id="username_reg" type="text" name="username_reg" placeholder="Username"/>
                <span id="error_username_reg" class="error"></span>
            </div>
            <div class="group">               
                <input id="passwd1_reg" type="password" name="passwd1_reg" placeholder="Password"/>
                <span id="error_passwd1_reg" class="error"></span>
            </div>
            <div class="group">
                <input id="passwd2_reg" type="password" name="passwd2_reg" placeholder="Repeat Password"/>
                <span id="error_passwd2_reg" class="error"></span>
            </div>
            <div class="group">
                <input id="email_reg" type="email"  name="email_reg" placeholder="Email"/>
                <span id="error_email_reg" class="error"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large button" id="register">Register</button>
        </form>
    </div>
</body>
</html>