<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Second Chance</title>



        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="view/assets/img/favicon.png" rel="icon">
        <link href="view/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="view/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="view/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="view/assets/lib/animate/animate.min.css" rel="stylesheet">
        <link href="view/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="view/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="view/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
            Theme Name: EstateAgency
            Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
            Author: BootstrapMade.com
            License: https://bootstrapmade.com/license/
        ======================================================= -->




        <!-- JQUERY -->
    	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/> -->

        <!-- BOX ICONS -->
        <!-- <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'> -->
        
        <!-- CSS GLIDER -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css"> -->
        
        <!-- CSS -->
		<!-- <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/main.css"/>
	    <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style.css"/> -->

        <!-- Toaster -->
		<!-- <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> -->

        <!-- Plantilla -->
        <!-- <script src="view/js/plant/jquery.min.js"></script> -->
		<!-- <script src="<?php echo SITE_PATH ?>view/js/plant/jquery.dropotron.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/browser.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/breakpoints.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/util.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/main.js"></script> -->

        <!-- JS -->
        <!-- <script src="<?php echo SITE_PATH ?>module/home/view/js/controller_home.js"></script>
        <script src="<?php echo SITE_PATH ?>view/js/translate.js"></script>
        <script src="<?php echo SITE_PATH ?>module/search/view/js/controller_search.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/controller_login.js"></script> -->

        <!-- Main JS -->
        <!-- <script src="<?php echo SITE_PATH ?>view/js/main.js"></script> -->
        <!-- <script src="<?php echo SITE_PATH ?>view/js/activity.js"></script> -->

        <!-- SCROLL REVEAL -->
        <!-- <script src="https://unpkg.com/scrollreveal"></script>      -->
        
    </head>

    <body class="is-preload homepage">

        <div id="contenedor_carga">
            <div class="spinner"></div>
        </div>
