<br><br><br><br><br><br><br>

<html>
<body>

    

    <div class="filters"></div>
    
    <!-- list-cars -->
    <div class="container_shop" id="content_shop_cars"></div>

   

    <!-- details-car -->
    <div id="details-shop">
        
        <div class="glider-contain">
            <div class="date_img">
            </div>
          
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
        
        <!-- <div class="date_img" id="container-date-img"> </div> -->
        <div class="date_car" id="container-date-img"> </div>
    </div>
    <div class="results"></div>
    <div id="map" style='width: 600px; height: 600px; ' class="map"></div>

    
    <div class="pagination"></div>
    
</body>
</html>

